h1 {
    text-align: center;
    color: #240090;
    padding-top: 20px;
}
.location {
    display:inline-block;
    font-size: 35px;
    margin: 10px;
}
hr {
    border: 0.7px solid #FFFFFF;
}
tr {
    text-align: center;
    color: white;
}
p {
    margin: 0;
}
.card {
    max-width: 90%;
    margin: 30px 5% 0 5%;
    border: initial;
    background: linear-gradient(90deg, #4481EB 0%, #04BEFE 100%);
    border-radius: 6px;
}
.input-group {
    max-width: 80%;
    margin: 0 auto;
}
.btn-warning {
    top: 30px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}
input {
    position: relative;
    top: 30px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}
.weather-container {
    color: white;
    text-align: center;
    padding-top: 42px;
}

@media only screen and (max-width: 770px) {
    .temperature-value {
        font-size: 35px;
    }
    .location {
        font-size: 28px;
    }
}

.temperature-value {
    display: inline-block;
    font-size: 50px;
    padding-bottom: 15px;
}
.temperature-feel {
    display: inline-block;
    padding-left: 15px;
    font-weight: 500;
}
.weather-icon {
    display:inline-block;
    position: absolute;
}
.weather-icon img {
    width: 80px;
    margin-left: 20px;
}

@media only screen and (max-width: 770px) {
    .weather-container {
        text-align: start;
        padding-left: 25px;
    }
    .weather-icon img {
        margin-left: 0;
    }
}